.nav-main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    color: white;
}

.quantity-container{
    position: relative;
}

.items-icon{
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.items-div{
    background-color: white;
    color: black;
    width: 20px;
    text-align: center;
    border-radius: 50%;
}

.card{
    text-align: center;
}

.btn-delete{
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 100px;
    margin-top: 10px;
}

.btn-delete-all{
    background-color: blueviolet !important;
    margin-bottom: 20px;
}

.item-main-container{
    display: flex;
    background-color:white;
    margin: 20px;
    justify-content: space-between;
}

.item-container{
    display: flex;
    flex-direction: column;
    margin: 50px 150px;
    text-align: right;
}

img{
    width: 50vw;
    object-fit: cover;
}

.card-info{
    text-align: right;
}

.card-icon-btn{
    background-color: white;
    border: none;
}